<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" <link ref="icon" href="images/logo.png">
    <title>NEW BEGINNINGS</title>
    <style>
        header {
            background-color: aliceblue;
            color: rebeccapurple;
            text-align: center;
        }

        section {
            background-color: rosybrown;
            height: 300px;
        }

        footer {
            background-color: saddlebrown;
            color: seagreen;
            text-align: center;
        }

        aside {
            border-style: dashed;
            width: 200px;
            display: block(none);
        }
    </style>
</head>

<body>
    <header>
        <menu>
            <nav>
                <span>HOME</span>
                <span>CONTACT</span>
                <span>ABOUT</span>
            </nav>
        </menu>
    </header>
    <section>
        <dialog open>
            <form action="/next" method="POST">
                <label for="fn">FIRST NAME</label>
                <input type="text" name="firstName" id="fn">

                <label for="ln">LAST NAME</label>
                <input type="text" name="lastName" id="ln">

                <input type="submit" id="btn">
            </form>
        </dialog>
        <aside>
            adverts here..
        </aside>
        <article>
            articles go here
        </article>
    </section>
    <footer>
        <div>
            &copy;copyright 2021
        </div>
        <div>
            html|css|javascript
        </div>
    </footer>
</body>

</html>