<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantics</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/ass.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <!-- ul>li*5>a -->
                <ul>
                    <li><a href="home">HOME</a></li>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="contact">CONTACT</a></li>
                    <li><a href="blog">BLOG</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <aside class="asideLeft">
                <h2>
                    STICKY ASIDE
                </h2>
                <p>
                    This is a <b>sticky</b> aside tag that we're using
                </p>
            </aside>
            <aside>
                <p>
                    This is aside content my gee!!
                    <br>
                    2022 we do this shit different
                </p>
            </aside>
            <section>
                <article>
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, molestias? Molestias sunt,
                        impedit explicabo non ad error blanditiis odio reprehenderit quam quisquam atque vel architecto
                        nobis iure officiis quos dicta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                        placeat aliquam magni nam obcaecati suscipit possimus magnam, odio delectus nihil. Officiis fuga
                        suscipit sit temporibus ipsum repellendus nemo ab non?</p>
                    <p>This is a strong <strong>ASS</strong> word</p>
                    <em>madafaka</em>
                    <br>
                    i'm still <u>learning to code actually</u>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium incidunt assumenda, dolor
                        numquam nam praesentium obcaecati, recusandae soluta vitae totam quisquam facilis fugit.
                        Repellendus consequatur soluta cum sunt rerum saepe. Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Deserunt hic cupiditate sunt et nobis ducimus, aperiam architecto beatae
                        magnam debitis aliquid fugiat blanditiis suscipit tempora, dignissimos vitae atque numquam. Eum.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat odio esse dolore vel labore
                        sed, est magnam voluptatem soluta, quos dignissimos, qui molestias natus repudiandae tempora et
                        ducimus officiis rem.</p>
                    <br>
                    <br>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, at temporibus facilis iure
                        sapiente nostrum cupiditate assumenda blanditiis, aut obcaecati repudiandae tempora corrupti
                        totam nam. Magni libero consectetur non mollitia. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Placeat eaque facilis quae, debitis voluptatum cum cupiditate? Repudiandae ad
                        aperiam cupiditate nobis officiis quidem distinctio amet dolor, possimus quo praesentium? Qui.
                    </p>

                    <figure>
                        <figcaption>This is fig cap</figcaption>
                    </figure>
                </article>
            </section>
        </main>
        <footer>
            &copy;copyright 2021|Html|Css
        </footer>
    </div>
</body>

</html>